*{
    padding:0;
    margin:0;
}
body{
    background: linear-gradient(-80deg, black, transparent);
}

h2{
    text-align: center;
    background: linear-gradient(172deg, cornsilk, transparent);
    font-family: system-ui;
    font-size: 3em;
    color: orange;
    font-variant: petite-caps;
    font-family: auto;
}

form{
    width:80%;
    margin:100px auto;
    font-size: larger;
    font-family: cursive;
    /* background-color: red; */
}
form input{
    padding: 10px 20px;
    font-size: larger;
    font-family: cursive;
}
form #id_text{
    width:100%;
    outline-style: none;
}